body {
  font-size: 20px;
  box-sizing: border-box;
  background: #f3f2f2;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  background-color: #fff;
  border-radius: 5px;
  margin: 10% 10%;
  box-shadow: 3px 3px 3px 3px gray;
}

hr {
  border: 0.1px solid #f3f2f2;
  margin: 0;
}

h1 {
  font-size: 22px;
  font-weight: normal;
}

input {
  border: 0;
  outline: 0;
  padding: 0.2rem;
}

input:focus {
  outline: none !important;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-title,
.todo-edit,
.todo-check {
  padding: 1rem 1.5rem;
}

.flex-2 {
  display: flex;
  align-items: center;
}

.check-icons {
  justify-content: flex-end;
}

.check-icons .fa-trash {
  margin-right: 0.4rem;
}

.to-do-check {
  margin-right: 1rem;
}

i {
  color: gray;
}

i,
.clear-all h3 {
  cursor: pointer;
}

.clear-all {
  padding: 1rem 0;
  background: #f3f2f2;
  height: auto;
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

.clear-all h3 {
  font-weight: normal;
  color: gray;
  margin: 0;
}

.clear-all:hover {
  text-decoration: underline;
  color: #000;
}

::placeholder {
  font-style: italic;
  font-size: 20px;
}
